/* fonts */
$main-font: 'Mulish', sans-serif;
$main-fontstyle: normal;
/* colors */
$bg-color: #ffffff;
$text-color: #111111;
$accent-color: #4A4FF2;
$accent-darker-color: #00008b;
$p-text-color: #414141; /*replaces: text-color+opac80*/
$sidecolor-one: #979797; /*replaces: text-color+opac60*/
$sidecolor-two: #D8D8D8;
$btn-text-color: #ffffff;
