/* fonts */
/* colors */
/*replaces: text-color+opac80*/
/*replaces: text-color+opac60*/
body {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  padding: 20px;
  color: #111111;
  height: 100vh;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  gap: 20px;
  max-width: 1110px;
  overflow: hidden;
  margin: auto;
}

hr {
  background-color: #D8D8D8;
  height: 2px;
  border: none;
  width: 100%;
}

.short-line {
  background-color: #979797;
  width: 21px;
  margin-left: 0;
}

a {
  text-decoration: none;
  color: #111111;
}
a:hover {
  color: #4A4FF2;
}

h1, h2 {
  margin-top: 0;
}

h1 {
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 0;
}

h2 {
  font-size: 28px;
  line-height: 38px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

p {
  color: #414141;
  font-size: 16px;
  line-height: 26px;
}

.opac-60 {
  color: #979797;
}

.italic {
  font-style: italic;
}

.color-text {
  color: #4A4FF2;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  row-gap: 40px;
  width: 100%;
}

section {
  padding: 20px 0;
}

.top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.top-left {
  max-width: 640px;
}

.top-right {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.full-image {
  width: 100%;
  height: auto;
}

/* fonts */
/* colors */
/*replaces: text-color+opac80*/
/*replaces: text-color+opac60*/
header, footer {
  max-width: 1110px;
  overflow: hidden;
  margin: auto;
}

header {
  margin-bottom: 80px;
}

footer {
  margin-top: 80px;
  padding-bottom: 30px;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.logo-link-div {
  -webkit-box-flex: 5;
  -ms-flex-positive: 5;
  flex-grow: 5;
}

.link-div {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.nav-link {
  font-weight: 700;
  font-size: 18px;
  margin-left: 20px;
}

.genesis-link {
  font-size: 24px;
  font-weight: 800;
  margin-left: 0;
}

/* fonts */
/* colors */
/*replaces: text-color+opac80*/
/*replaces: text-color+opac60*/
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 291px;
}

.form-label {
  color: #979797;
  font-size: 16px;
  font-weight: 700;
}

.form-input {
  border: none;
  border-bottom: 1px solid #D8D8D8;
  margin-bottom: 20px;
  margin-top: -20px;
  width: 100%;
}

.button {
  background-color: #4A4FF2;
  color: #ffffff;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border: none;
  min-width: 125px;
  padding: 12px 20px;
}

.button:hover {
  background-color: #00008b;
}

.top-left {
  max-width: 445px;
}

.top-right {
  width: 100%;
  max-width: 475px;
  min-width: 42%;
}